:root {
    --color--one: #14162C;
    --color--one--rgba: #191b3fdf;
    --color--two: #cfcfd1;
    --color--three: #298bfe;
    --color--four: #e52d2d;
    --color--five: #ffffff;
    --color--six: #ffd733;

    --layout-descrption-container-x: 10px;
    --layout-descrption-container-y: 10px;
}

@font-face {
    font-family: "Roboto-Regular";
    src: url(../storage/fonts/Roboto-Regular.ttf);
}